<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Book Edited Successfully</title>
	<style>
		body {
			font-family: Arial, sans-serif;
			background-color: #f2f2f2;
			color: #333;
			margin: 0;
			padding: 0;
		}
		h1 {
			font-size: 2.5rem;
			text-align: center;
			margin-top: 3rem;
		}
		p {
			font-size: 1.2rem;
			text-align: center;
			margin-top: 2rem;
		}
		a {
			display: block;
			font-size: 1.2rem;
			text-align: center;
			margin-top: 2rem;
			color: #007bff;
			text-decoration: none;
		}
		a:hover {
			text-decoration: underline;
		}
	</style>
</head>
<body>
	<h1>Book Edited Successfully</h1>
	<p>The book has been edited successfully.</p>
	<a th:href="@{/librarian-home}">Go back to home page</a>
</body>
</html>